name: Build WebView APK
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'URL to create APK for'
        required: true
      name:
        description: 'App Name'
        required: true
      package_name:
        description: 'Package Name'
        required: true
      vector_xml:
        description: "Vector drawable XML"
        required: true
      bg_color:
        description: 'Hex color for app background (e.g. #123456)'
        required: true
        default: '#242424'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-disabled: true

      - name: Set package name
        run: |
          sed -i "s|applicationId \"net.devtrends.webtoapk\"|applicationId \"${{ inputs.package_name }}\"|g" android-webview-app/app/build.gradle

      - name: Prepare project
        run: |
          cd android-webview-app
          sed -i "s|https://example.com|${{ inputs.url }}|g" app/src/main/java/net/devtrends/webtoapk/MainActivity.kt
          sed -i "s|https://example.com|${{ inputs.url }}|g" app/src/main/assets/no_internet.html
          sed -i "s|WebToAPK|${{ github.event.inputs.name }}|g" app/src/main/res/values/strings.xml
          sed -i 's|<color name="bg">.*</color>|<color name="bg">${{ inputs.bg_color }}</color>|' app/src/main/res/values/colors.xml

      - name: Write vector icon
        run: |
          cat << 'EOF' > app/src/main/res/drawable/fg.xml
          ${{ inputs.vector_xml }}
          EOF

      - name: Build release APK
        run: |
          cd android-webview-app
          gradle assembleRelease

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: webview-app-apk
          path: android-webview-app/app/build/outputs/apk/release/app-release.apk
